* {
  box-sizing: border-box;
  font-size: 1rem;
}


body {
  /* TODO */
  background: linear-gradient(45deg, yellow, orange);
}

input {
 /* TODO */
 background: linear-gradient(45deg, yellow, orange);
}


ul li {
  /* TODO */
    padding: 8px 12px;
    cursor: pointer;
}


